<!DOCTYPE html>
<html>
    <head>
        <title>Stock Info</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css')}}">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <span class="navbar-brand mb-0 h1">StockTrader</span>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('index') }}">Dashboard</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('watchlist') }}">Watchlist</a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0" method="post" action="{{ url_for('get_stock_data') }}">
                <input class="form-control mr-sm-2" type="search" name="ticker" placeholder="Search Stock Ticker" aria-label="Search" value="{{ request.form.ticker }}">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
        </nav>
        <h2>Ticker: {{ ticker }}</h2>
        <ul>
          <li>Previous Open: ${{ open }}</li>
          <li>Previous Close: ${{ close }}</li>
          <li>High: ${{ high }}</li>
          <li>Low: ${{ low }}</li>
        </ul>
    </body>
</html>